{% extends 'base.html.twig' %}

{% block title %}Votre profils{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div>
    {# Page body #}
    <div class="bg-white m-10 grid lg:grid-cols-12 md:grid-cols-4">
        {# ajouté une company #}
        <div class="md:col-span-2 lg:col-span-4 p-10">
            {# page header #}
            <div class="">
                <h1 class="text-xl font-semibold mb-6">Vous etes sur votre profil</h1>
                <p class="">Dans cette section vous pouvez retrouver vos différant entreprise et leurs pages vitrine associer</p>
                <br>
                <p>Vous etes connectez en avec l'adresse email;</p>
                <p class="text-purple-400">{{app.user.userIdentifier}}</p>
            </div>
        </div>
        <div class="md:col-span-2 lg:col-span-4 p-10 bg-purple-400">
            <div class="flex flex-col items-center text-center">
                <h3 class="text-white">Consulter, creer ou editer vos fiche entreprise </h3>
                <button class='my-10 px-10 mt-10 text-white border-solid border-2 border-white'>
                    <a href="{{ path('app_company_index')  }}">consulter</a>     
                    {# <a href="{{ path('app_company_index', {'id': company.id})  }}">consulter</a>              #}
            
                </button>
             </div>
        </div>
                {# ajouté une showCase / sucursalle ou boutique #}
        <div class="lg:col-span-4 p-10 align-middle">
            <div class="flex flex-col items-center text-center">
                {# {% if company.userId == app.user.id %} #}
                    <h3>Consulter, creer ou editer vos vitrine</h3>
                    <button class=' my-10 px-10 mt-10 text-purple-400 border-solid border-2 border-purple-400'>
                        <a href="{{ path('app_show_case_index')  }}">consulter</a>             
                    </button>
                {# {% else %}
                    <h3>Pour consulter, creer ou editer vos vitrine/sucursalle vous devez d'abore creer une companie/entreprise</h3>
                    <button class=' my-10 px-10 mt-10 text-purple-400 border-solid border-2 border-purple-400'>
                        <a href="{{ path('app_company_index')  }}">creer une companie</a>             
                    </button>
                {% endif%} #}
             <div>
        </div>
    </div>
</div>
</div>
{% endblock %}
