{# {{dump(form)}} #}
<div class="grid md:grid-cols-12 m-10">
    <div class="md:col-span-6 bg-white p-10">
        {{ form_start(form) }}
        <div class="grid lg:grid-cols-4">
            <div class="lg:col-span-2">
                <div class="form-control pr-4">
                    {{ form_label(form.title, 'Indiquez le nom de votre succursale *') }}
                    <br>
                    {{ form_widget(form.title, {'attr': {'class': 'lable_company_size'}}) }}    
                </div>
                <div class="form-control pr-4 ">
                    {{ form_label(form.companyId, 'Choisissez la compagnie associée *') }}
                    <br>
                    {{ form_widget(form.companyId, {'attr': {'class': 'lable_company_size'}}) }}    
                </div>

                {# <div class="form-control pr-4 ">
                    <form >
                    <lable>
                        companies 
                    </lable>
                    
                    <select>

                        <option value='' > Choisissez votre comanie</option>
                        {% for company in companies %}
                            <option name='company' value='{{company.id}}'>{{company.companyName}}</option>
                        {% endfor %}
                        </select>
                    </form>
                </div> #}

                <div class="form-control pr-4 ">
                    {{ form_label(form.images, 'Choisissez une image *') }}
                    <br>
                    {{ form_widget(form.images, {'attr': {'class': 'lable_company_size'}}) }}    
                </div>
                <div class="form-control pr-4">
                    {{ form_label(form.phoneNumber, 'Indiquez le téléphone de la succursale *') }}
                    <br>
                    {{ form_widget(form.phoneNumber, {'attr': {'class': 'lable_company_size'}}) }}    
                </div>
                <div class="form-control pr-4">
                    {{ form_label(form.address, 'Indiquez votre adresse *') }}
                    <br>
                    {{ form_widget(form.address, {'attr': {'class': 'lable_company_size'}}) }}    
                </div>
            </div>
            <div class="lg:col-span-2">
                <div class="form-control">
                    {{ form_label(form.description, 'Décrivez la companie *') }}
                    <br>
                    {{ form_widget(form.description, {'attr': {'class': 'lable_company_size textarea_show_case'}}) }}    
                </div>
                <div class="form-control">
                    {{ form_label(form.email, 'Renseignez l\'email de la succursale *') }}
                    <br>
                    {{ form_widget(form.email, {'attr': {'class': 'lable_company_size'}}) }}    
                </div>

            </div> 
        </div>
        <div class="form-control">
            {{ form_label(form.categorys, 'Indiquez les catégories *') }}
            <br>
            {{ form_widget(form.categorys, {'attr': {'class': 'lable_company_size'}, 'list':"categories_list"}) }}    
        </div>
        <div class="mt-6">
            {# <button class="w-full mt-10 text-purple-400 border-solid border-2 border-purple-400"> #}
            <button class="mb-4 inline-block px-6 py-2 border-2 border-purple-400 text-purple-400 font-medium text-xs leading-tight uppercase rounded hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out">{{ button_label|default('Enregistrer') }}</button>
            {# </button> #}

            {# <button  class="w-full mt-10 text-purple-400 border-solid border-2 border-purple-400"> #}
            <a  type="button" href="{{ path('app_show_case_index') }}" class="mb-4 inline-block px-6 py-2 border-2 border-purple-400 text-purple-400 font-medium text-xs leading-tight uppercase rounded hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out">Retour à la liste </a>
            {# </button> #}
        </div>
    </div>
    <datalist id="categories_list">
        {% for category in categorys  %}
            <option value="{{category.name}}">
        {% endfor %}
    </datalist>

    <div class="flex items-center justify-center md:col-span-6 bg-purple-400 grid-cols-none p-10">
        <div>
            <p class="text-white text-center text-2xl font-semibold">Renseignez vos informations <br>et personnalisez vos vitrines</p>
        </div>
    </div>
</div>

    {# <p>{{app.user.userIdentifier}}</p>

    <p>{{app.user.id}}</p> #}
    
    {# <button class="btn">{{ button_label|default('Save') }}</button> #}
{{ form_end(form) }}

