{{ form_start(form) }}


    {{ form_row(form.title) }}
    {{ form_row(form.description) }}
    {{ form_row(form.companyId, {"attr": {'value': app.comapny.name}}
    ) }}
     {{ form_row(form.companyId)}}
    {# <p>{{app.company.name}}</p> #}

    {# {{ form_widget(form) }} #}
    
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

