{{dump(form)}}
{{ form_start(form) }}


    {{ form_row(form.title, {'label':'Titre ', 'attr': {'placeholder': 'Nom de votre magasin'}}) }}
    {{ form_row(form.description, {'label':'Description ', 'attr': {'placeholder': 'Presentation general de votre boutique'}}) }}
    {# {{ form_row(form.companyId, {"attr": {'value': app.company.name}}
    ) }} #}
     {{ form_row(form.companyId, {'label':"selection l'entreprise associer ", 'attr': {'placeholder': 'liste des entreprise inscrite'}})}}
    {{ form_row(form.images)}}
    {{ form_row(form.categorys)}}

    {# <p>{{app.user.userIdentifier}}</p>

    <p>{{app.user.id}}</p> #}
    
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

