{# {{dump(form)}} #}
<div class="grid md:grid-cols-12 m-10">
    <div class="md:col-span-6 bg-white p-10">
        {{ form_start(form) }}
        <div class="grid lg:grid-cols-4">
            <div class="lg:col-span-2">
                <div class="form-control pr-4">
                    {{ form_label(form.title, 'Indiquer le nom de votre succursale', {'label_attr': {'class': 'foo'}}) }}
                    <br>
                    {{ form_widget(form.title, {'attr': {'class': 'lable_company_size'}}) }}    
                </div>
                <div class="form-control pr-4 ">
                    {{ form_label(form.companyId, 'Choisissez la compagnie associé', {'label_attr': {'class': 'foo'}}) }}
                    <br>
                    {{ form_widget(form.companyId, {'attr': {'class': 'lable_company_size'}}) }}    
                </div>

                {# <div class="form-control pr-4 ">
                    <form >
                    <lable>
                        companies 
                    </lable>
                    
                    <select>

                        <option value='' > Choisissez votre comanie</option>
                        {% for company in companies %}
                            <option name='company' value='{{company.id}}'>{{company.companyName}}</option>
                        {% endfor %}
                        </select>
                    </form>
                </div> #}

                <div class="form-control pr-4 ">
                    {{ form_label(form.images, 'choisir une image', {'label_attr': {'class': 'foo'}}) }}
                    <br>
                    {{ form_widget(form.images, {'attr': {'class': 'lable_company_size'}}) }}    
                </div>
                <div class="form-control pr-4">
                    {{ form_label(form.phoneNumber, 'Téléphone de la succursale', {'label_attr': {'class': 'foo'}}) }}
                    <br>
                    {{ form_widget(form.phoneNumber, {'attr': {'class': 'lable_company_size'}}) }}    
                </div>
                <div class="form-control">
                    {{ form_label(form.address, 'Indiquer votre address', {'label_attr': {'class': 'foo'}}) }}
                    <br>
                    {{ form_widget(form.address, {'attr': {'class': 'lable_company_size'}}) }}    
                </div>
            </div>
            <div class="lg:col-span-2">
                <div class="form-control">
                    {{ form_label(form.description, 'Description de la companie', {'label_attr': {'class': 'foo'}}) }}
                    <br>
                    {{ form_widget(form.description, {'attr': {'class': 'lable_company_size textarea_show_case'}}) }}    
                </div>
                <div class="form-control">
                    {{ form_label(form.email, 'Email de la succursale', {'label_attr': {'class': 'foo'}}) }}
                    <br>
                    {{ form_widget(form.email, {'attr': {'class': 'lable_company_size'}}) }}    
                </div>

            </div> 
        </div>
        <div class="form-control">
            {{ form_label(form.categorys, 'Indiquer les categories', {'label_attr': {'class': 'foo'}}) }}
            <br>
            {{ form_widget(form.categorys, {'attr': {'class': 'lable_company_size'}, 'list':"categories_list"}) }}    
        </div>
        <div class="mt-6">
            {# <button class="w-full mt-10 text-purple-400 border-solid border-2 border-purple-400"> #}
            <button class="mb-4 inline-block px-6 py-2 border-2 border-purple-400 text-purple-400 font-medium text-xs leading-tight uppercase rounded hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out">{{ button_label|default('Save') }}</button>
            {# </button> #}

            {# <button  class="w-full mt-10 text-purple-400 border-solid border-2 border-purple-400"> #}
            <a  type="button" href="{{ path('app_show_case_index') }}" class="mb-4 inline-block px-6 py-2 border-2 border-purple-400 text-purple-400 font-medium text-xs leading-tight uppercase rounded hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out">retour a la liste </a>
            {# </button> #}
        </div>
    </div>
    <datalist id="categories_list">
        {% for category in categorys  %}
            <option value="{{category.name}}">
        {% endfor %}
    </datalist>

    <div class="align-middle md:col-span-6 bg-purple-400 grid-cols-none p-10">
        <div class="">
            <p class="text-white text-left text-2xl font-semibold">ICI, vous pouvez creer<br>et parsonaliser vos vitrine </p>
        </div>
    </div>
</div>

    {# <p>{{app.user.userIdentifier}}</p>

    <p>{{app.user.id}}</p> #}
    
    {# <button class="btn">{{ button_label|default('Save') }}</button> #}
{{ form_end(form) }}

