{% extends 'base.html.twig' %}

{% block title %}ShowCase index{% endblock %}

{% block body %}
    <h1>ShowCase index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for show_case in show_cases %}
            <tr>
                <td>{{ show_case.id }}</td>
                <td>{{ show_case.title }}</td>
                <td>{{ show_case.description }}</td>
                <td>
                    <a href="{{ path('app_show_case_show', {'id': show_case.id}) }}">show</a>
                    <a href="{{ path('app_show_case_edit', {'id': show_case.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_show_case_new') }}">Create new</a>
{% endblock %}
