{% extends 'base.html.twig' %}

{% block title %}ShowCase index{% endblock %}

{% block body %}
    <div class="p-6 mb-48">
        <div class="p-10 bg-white grid lg:grid-cols-12">
            <div class="lg:col-span-8"> 
                <div class="m-0 pr-4 lg:border-solid lg:border-r-2 border-purple-400">
                    <table class="w-full table m-0 ">
                        <thead class="bg-purple-400" >
                            <tr>
                                <th class="text-white p-2">Id</th>
                                <th class="text-white p-2">Title</th>
                                <th class="text-white p-2">Description</th>
                                <th class="text-white p-2">actions</th>
                            </tr>
                        </thead>
                        <tbody class="bg-white ">
                        {% for show_case in show_cases %}

                            <tr class"bg-white m-2">
                                <td class="p-2 border-solid border-y-2 border-purple-400 ">{{ show_case.id }}</td>
                                <td class="p-2 border-solid border-y-2 border-purple-400 ">{{ show_case.title }}</td>
                                <td class="p-2 border-solid border-y-2 border-purple-400 ">{{ show_case.description }}</td>
                                <td class="p-2 border-solid border-y-2 border-purple-400 ">
                                    <a class="text-purple-400" href="{{ path('app_show_case_show', {'id': show_case.id}) }}">afficher</a><span> /</span>
                                    <a class="text-purple-400" href="{{ path('app_show_case_edit', {'id': show_case.id}) }}">éditer</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="4">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="lg:col-span-4">
                <div class="bg-white m-4 text-center">
                    <div class="  ">
                        <a  type="button" class="mb-4 inline-block px-6 py-2 border-2 border-purple-400 text-purple-400 font-medium text-xs leading-tight uppercase rounded hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out" href="{{ path('app_show_case_new') }}">Nouvelle vitrine</a>
                        <br>
                        <a  type="button" class="mb-4 inline-block px-6 py-2 border-2 border-purple-400 text-purple-400 font-medium text-xs leading-tight uppercase rounded hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out" href="{{ path('app_profile') }}">retour en arriere</a>

                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
