{% extends 'base.html.twig' %}

{% block title %}Vitrine - {{ show_case.title }}{% endblock %}

{% block body %}

    {#   h-full  md:max-w-xl dark:border-gray-700 dark:bg-gray-800 flex-col items-center bg-white shadow-md md:flex-row m-24 lg:flex #}
        <div class="lg:flex justify-center my-10 mx-24">
            <div class="bg-white flex grow">

                <div class="lg:w-4/12 flex-call">
                    {% if show_case.imageShowCases.values %}
                        <div class="h-full block_image lg:rounded-r-lg rounded-b-lg lg:rounded-bl-none bg-purple-400" >
                            {# <div class="text-white px-4 py-6 md:p-12 md:mx-6"> #}
                                {# <h1 class="text-2xl font-semibold mb-6">{{ show_case.title }}</h1> #}
                                {# md:h-auto md:w-48 md:rounded-none md:rounded-l-lg #}
                                <img class="image_size_show object-cover rounded-t-lg" src="{{ asset('uploads/' ~ show_case.imageShowCases.values[0].image)}}" alt="">
                            {# </div> #}
                        </div>
                    {% endif %}
                </div>
                <div class="lg:w-7/12 flex">
                    <div class="px-4 py-6 md:p-12 md:mx-6">
                        <h1 class="text-2xl font-semibold mb-6">{{ show_case.title }}</h1>
                        <p class="mb-6 text-lg font-normal font-semibold">{{ show_case.description }}</p>
                        <p>
                            <ul class="border-slate-100 px-10 pb-[3px] pt-[5px]" >
                            {% for category in categories %}
                                <li class="tiket-category inline-block px-2 py-[1px] border-solid border-2 border-gay-900 rounded-lg ">
                                    {# <a href="" id="categories"> #}
                                    {{ category.name|capitalize }}
                                    {# </a> #}
                                </li>
                                 {% endfor %}
                            </ul>
                        </p>
                        <P class="my-6">Retrouver nous ; {{show_case.address}}</p>
                        <h3 class="text-xl font-semibold mb-6">Pour nous contacter</h3>
                            <p class="">Email ; <a href="mailto:{{ show_case.email }}"> {{ show_case.email }}</a></p>
                            <p>Téléphone ; <a href="tel:{{ show_case.phoneNumber }}"> {{ show_case.phoneNumber }} </a></p>
                        <br>
                        {% if show_case.userId.isVerified == true %}
                            <h3>L'utilisateur ayant ajouté ces informations est un utilisateur confirmé ✅</h3>
                        {% else %}
                            <h3>L'utilisateur ayant ajouté ces informations n'est pas utilisateur confirmé ❌</h3>
                        {% endif %}
                        {# // ajoute de la condition si le user log a sont id associer au show case en question #}

                        {% if app.user %}
                                {% if app.user.id == user_id %}
                                    <div class="">
                                        {# <a class="text-purple-400" href="{{ path('app_show_case_index') }}">back to list</a> #}
                                        <a  type="button" class="mb-4 inline-block px-6 py-2 border-2 border-purple-400 text-purple-400 font-medium text-xs leading-tight uppercase rounded hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out" href="{{ path('app_show_case_edit', {'id': show_case.id}) }}">éditer</a>
                                        {# {{ include('show_case/_delete_form.html.twig') }} #}
                                    </div>
                                {% endif %}    
                        {% endif %}    

                    </div>
                </div>

            </div>
        </div>
{% endblock %}
