{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Deconnexion</a>
        </div>
    {% endif %}

    <div class="lg:flex justify-center">


        <div class="lg:flex justify-center my-10 ">
            {# {% form %} #}
            <div class="lg:w-6/12 flex bg-white">
                <div class="grid md:p-12 md:mx-6 w-full">
                    <h2 class="text-xl font-semibold mb-6">Connexion</h2>
                    <label class="text-sm my-2" for="inputEmail">Email ;</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus
                    placeholder="Email">
                    <label class="text-sm my-2" for="inputPassword">Mot de passe ;</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required 
                    placeholder="Mot de passe" >

                    <input type="hidden" name="_csrf_token"
                        value="{{ csrf_token('authenticate') }}">
                    <button class="mt-10 text-purple-400 border-solid border-2 border-purple-400" type="submit">
                        Connexion
                    </button>
                </div>
            </div>
            {# {% endform %} #}
            <div class="lg:w-5/12 flex items-center lg:rounded-r-lg rounded-b-lg lg:rounded-bl-none bg-purple-400" >
                <div class="text-white px-4 py-6 md:p-12 md:mx-6">
                    <h4 class="text-xl font-semibold mb-6">Vous n'avez pas de compte ?</h4>
                    <a target="_self" href="{{ path('app_register')}}" class=" w-full text-sm text-gray-50 border-solid border-2 border-gray-50">
                        Inscrivez-vous
                    </a>
                </div>
                </div>
        </div>

    </div>
    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}



</form>
{% endblock %}
