{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <div class="flex justify-center m-10">
        <div class="lg:w-4/12 flex items-center lg:rounded-l-lg rounded-l-lg bg-purple-400" >
            <div class="text-white px-4 py-6 md:p-12 md:mx-6">
                <h2 class="text-xl font-semibold mb-6">Vous avez deja un compte ?</h2>
                <a target="_self" href="{{ path('app_login')}}" class="mb-4 inline-block px-6 py-2 border-2 border-white text-white font-medium text-xs leading-tight uppercase rounded hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out">
                conecter-vous
                </a>
            </div>
        </div>
        <div class="lg:w-6/12 flex bg-white">
            <div class="grid md:p-12 md:mx-6 w-full">

                <h2 class="text-xl font-semibold mb-6">Inscription</h2>

                <div>
                    {{ form_start(registrationForm) }}
                        <ul class="grid grid-cols-2">
                            <li> 
                                <div class="form-control pr-4">
                                    {{ form_label(registrationForm.email, 'Prénom', {'label_attr': {'class': 'foo'}}) }}
                                    <br>
                                    {{ form_widget(registrationForm.name, {'attr': {'class': 'label_register_size'}}) }}
                                </div>
                            </li>
                            <li>
                                <div class="form-control">
                                    {{ form_label(registrationForm.email, 'Nom', {'label_attr': {'class': 'foo'}}) }}
                                    <br>
                                    {{ form_widget(registrationForm.surname, {'attr': {'class': 'label_register_size'}}) }}    
                                </div>  
                            </li>                        
                        </ul>
                        <div class="form-control">
                            {{ form_label(registrationForm.email, 'Email', {'label_attr': {'class': 'foo'}}) }}
                            <br>
                            {{ form_widget(registrationForm.email, {'attr': {'class': 'label_register_size'}}) }}
                        </div>
                        <div class="form-control">
                            {{ form_label(registrationForm.password.first, 'Mot de passe', {'label_attr': {'class': 'foo'}}) }}
                           <br>
                            {{ form_widget(registrationForm.password.first, {'attr': {'class': 'label_register_size'}})}}
                        </div>
                        <div class="form-control">
                            {{ form_label(registrationForm.password.second, 'Confirmer mot de passe', {'label_attr': {'class': 'foo'}}) }}
                            <br>
                            {{ form_widget(registrationForm.password.second, {'attr': {'class': 'label_register_size'}}) }}
                        </div>
                        <div class="form-control">
                            {{ form_label(registrationForm.agreeTerms, 'Accepter les conditions', {'label_attr': {'class': 'foo'}}) }}
                            {{ form_widget(registrationForm.agreeTerms) }}
                        </div>
                        <button type="submit" class="mt-10 mb-4 inline-block px-6 py-2 border-2 border-purple-400 text-purple-400 font-medium text-xs leading-tight uppercase rounded hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out">Créer votre compte</button>
                    {{ form_end(registrationForm) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}


  