{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <div class="flex justify-center m-10">
        <h1 class="underline">Register</h1>

            <div>
                {{ form_start(registrationForm) }}

                    <ul class="grid grid-cols-2">
                        <li> 
                            {{ form_row(registrationForm.name, {'label':'votre ', 'attr': {'placeholder': 'Prénom'}}) }}
                        </li>
                        <li>
                            {{ form_row(registrationForm.surname, {'label':'votre ', 'attr': {'placeholder': 'Nom'}}) }}      
                        </li>


                        
                    </ul>
                    {{ form_row(registrationForm.email) }}
                    {{ form_row(registrationForm.password.first , {
                        label: 'Password'
                    }) }}
                    {{ form_row(registrationForm.password.second) }}

                    {{ form_row(registrationForm.agreeTerms) }}

                    <button type="submit" class="btn">Créer votre compte</button>
                {{ form_end(registrationForm) }}
            </div>
        <h1 class="text-xl font-bold underline">
                testing
        </h1>
    </div>
{% endblock %}
