<div class="grid md:grid-cols-12 m-10 ">
    <div class="md:col-span-6 bg-white p-10">
        {{ form_start(form) }}
            {# {{ form_widget(form) }} #}
            {# {{ form_row(form.companyName) }} #}
                <div class="grid lg:grid-cols-4">
                    <div class="lg:col-span-2">
                        <div class="form-control pr-4">
                            {{ form_label(form.companyName, 'Nom de la companie', {'label_attr': {'class': 'foo'}}) }}
                            <br>
                            {{ form_widget(form.companyName, {'attr': {'class': 'lable_company_size'}}) }}    
                        </div>
                        <div class="form-control pr-4 ">
                            {{ form_label(form.siretNumber, 'Numero Siret', {'label_attr': {'class': 'foo'}}) }}
                            <br>
                            {{ form_widget(form.siretNumber, {'attr': {'class': 'lable_company_size'}}) }}    
                        </div>
                    </div>
                    <div class="lg:col-span-2">
                        <div class="form-control pr-4">
                            {{ form_label(form.companyDescription, 'Description de la companie', {'label_attr': {'class': 'foo'}}) }}
                            <br>
                            {{ form_widget(form.companyDescription, {'attr': {'class': 'lable_company_size textarea_show_case'}}) }}    
                        </div>
                    </div> 
                </div>
                <div class="mt-6">
                    <button class="mb-4 inline-block px-6 py-2 border-2 border-purple-400 text-purple-400 font-medium text-xs leading-tight uppercase rounded hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out">{{ button_label|default('Enregistrer') }}</button>

                    <a href="{{ path('app_company_index') }}" type="button" class="mb-4 inline-block px-6 py-2 border-2 border-purple-400 text-purple-400 font-medium text-xs leading-tight uppercase rounded hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out">Retour a la listes des entreprise</a>
                </div>
            
        {{ form_end(form) }}
    </div>
    <div class="md:col-span-6 bg-purple-400  p-10">
        <div class="">
            <p class="text-white text-left text-2xl font-semibold">ICI vous creer votre ficher entreprise</p>
            {# <p>{{app.user.userIdentifier}}</p> #}
        </div>
    </div>
</div>
