<div class="grid md:grid-cols-12 m-10">
    <div class="md:col-span-6 bg-white p-10">
        {{ form_start(form) }}
            {# {{ form_widget(form) }} #}
            {# {{ form_row(form.companyName) }} #}
                <div class="grid lg:grid-cols-4">
                    <div class="lg:col-span-2">
                        <div class="form-control pr-4">
                            {{ form_label(form.companyName, 'Nom de la companie', {'label_attr': {'class': 'foo'}}) }}
                            <br>
                            {{ form_widget(form.companyName, {'attr': {'class': 'lable_company_size'}}) }}    
                        </div>
                        <div class="form-control pr-4 ">
                            {{ form_label(form.siretNumber, 'Numero Siret', {'label_attr': {'class': 'foo'}}) }}
                            <br>
                            {{ form_widget(form.siretNumber, {'attr': {'class': 'lable_company_size'}}) }}    
                        </div>
                    </div>
                    <div class="lg:col-span-2">
                        <div class="form-control pr-4">
                            {{ form_label(form.companyDescription, 'Description de la companie', {'label_attr': {'class': 'foo'}}) }}
                            <br>
                            {{ form_widget(form.companyDescription, {'attr': {'class': 'lable_company_size'}}) }}    
                        </div>
                    </div> 
                </div>

            <button class="w-full mt-10 text-purple-400 border-solid border-2 border-purple-400">{{ button_label|default('Save') }}</button>
        {{ form_end(form) }}
    </div>
    <div class="md:col-span-6 bg-purple-400">
        <p>Vous etes connectez en avec l'adresse email;</p>
        <p>{{app.user.userIdentifier}}</p>
    </div>
</div>
